<!DOCTYPE HTML>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport"
	content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<link rel="stylesheet" type="text/css"
	href="static/h-ui/css/H-ui.min.css" />
<link rel="stylesheet" type="text/css"
	href="static/h-ui.admin/css/H-ui.admin.css" />
<link rel="stylesheet" type="text/css"
	href="lib/Hui-iconfont/1.0.8/iconfont.css" />
<link rel="stylesheet" type="text/css"
	href="static/h-ui.admin/skin/default/skin.css" id="skin" />
<link rel="stylesheet" type="text/css"
	href="static/h-ui.admin/css/style.css" />
<link href="lib/webuploader/0.1.5/webuploader.css" rel="stylesheet"
	type="text/css" />
<script type="text/javascript" src="lib/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="lib/layer/2.4/layer.js"></script>
<script type="text/javascript" src="static/h-ui/js/H-ui.min.js"></script>
<script type="text/javascript" src="static/h-ui.admin/js/H-ui.admin.js"></script>

<script type="text/javascript"
	src="lib/My97DatePicker/4.8/WdatePicker.js"></script>
<script type="text/javascript"
	src="lib/jquery.validation/1.14.0/jquery.validate.js"></script>
<script type="text/javascript"
	src="lib/jquery.validation/1.14.0/validate-methods.js"></script>
<script type="text/javascript"
	src="lib/jquery.validation/1.14.0/messages_zh.js"></script>
<script type="text/javascript"
	src="lib/webuploader/0.1.5/webuploader.min.js"></script>
<script type="text/javascript" src="lib/ueditor/1.4.3/ueditor.config.js"></script>
<script type="text/javascript"
	src="lib/ueditor/1.4.3/ueditor.all.min.js">
	
</script>
<script type="text/javascript"
	src="lib/ueditor/1.4.3/lang/zh-cn/zh-cn.js"></script>
<script type="text/javascript" src="js/js.js"></script>

<link rel="stylesheet"	th:href="@{webjars/bootstrap/4.3.1/css/bootstrap.min.css}" />
	<link rel="stylesheet"  th:href="@{/css/style.css}" />
	<link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">	
	<script type="text/javascript"
		th:src="@{webjars/jquery/3.0.0/jquery.min.js}"></script>
	<script type="text/javascript"
		th:src="@{webjars/bootstrap/4.3.1/js/bootstrap.min.js}"></script>
	<script type="text/javascript"
		th:src="@{/js/task.js}"></script>
<link rel="stylesheet"
	th:href="@{webjars/bootstrap/4.3.1/css/bootstrap.min.css}" />
<link rel="stylesheet" th:href="@{/css/style.css}" />
<link rel="stylesheet"
	href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
		
<style type="text/css">
#correct_p:hover{
	cursor:pointer;
	color: red;
}
</style>

<style type="text/css">
#correct_p:hover{
	cursor:pointer;
	color: red;
}
</style>
<script type="text/javascript">
	var editor = new UE.ui.Editor({
		initialFrameHeight : 300,
		scaleEnabled:false,
		readonly : true
	});
	editor.render("myEditor");
</script>
<script type="text/javascript">

function getWeak(){
	var studentid = $('#studentid').val();
	if(studentid == '0'){
		$('#nowWeak').empty();
		$('#nowWeak').append('<option value="0">请选择周次</option>');
		return ;
	}
	$.get("http://localhost:8080/report_correct_weaks/"+$('#studentid').val(),function(data,status){
		if(data == null || data==""){
			alert("操作失败,没有该学生的报告周次数据!");
			$('#nowWeak').empty();
			$('#nowWeak').append('<option value="0">请选择周次</option>');
			editor.ready(function() { //刷新
				editor.setContent('', false);
			});
			$('#title').val('');//赋值
		}else{
			$('#nowWeak').empty();
			$('#nowWeak').append('<option value="0">请选择周次</option>');
			for (var i = 0; i < data.length; i++) {
				$('#nowWeak').append('<option value="' + data[i] + '">' + data[i] + '</option>');
			}
			editor.ready(function() { //刷新
				editor.setContent('', false);
			});
		} 
	});
}
function getReport(){
	var weak = $("#nowWeak").val();
	var studentid = $('#studentid').val();
	
	if(weak == "0"){
		return;
	}
	
	$.get("http://localhost:8080/report_correct_report/"+$('#studentid').val()+"/"+$('#nowWeak').val(),function(data,status){
		if(data == null || data==""){
			alert("操作失败,没有该学生该周的报告数据!");
			editor.ready(function() { //刷新
				editor.setContent('', false);
			});
			$('#title').val('');//赋值
		}else{
			$('#myEditor').val(data.content);//赋值
			$('#title').val(data.title);//赋值
			if(data.grade != -1)
				$('#grade').val(data.grade);
			editor.ready(function() { //刷新
				editor.setContent(data.content, false);
			});
		} 
	});
}
function toCorrect(){
	var weak = $("#nowWeak").val();
	var studentid = $('#studentid').val();
	var grade =  $('#grade').val();
	if(studentid == "0"){
		alert("没有选择学生!");
		return ;
	}
	if(weak == "0"){
		alert("没有选择周次!");
		return ;
	}
	
	if(grade == "" || grade > 100 || grade < 0){
		alert("分数不合法!");
		return ;
	}
	
	var p = confirm('您确定要提交本次批阅吗?');
	if(p==true){
		form.action="/updateGrade";
		form.submit();
	}
}
function download(){
	var weak = $("#nowWeak").val();
	var studentid = $('#studentid').val();
	
	if(studentid == "0"){
		alert("没有选择学生!");
		return ;
	}
	if(weak == "0"){
		alert("没有选择周次!");
		return ;
	}
	
	window.location.href="http://localhost:8080/download_teacher/"+studentid+"/"+weak;
}
</script>
</head>
<body onload="getSeverTime();">
	<nav class="breadcrumb">
		<i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span>
		汇报管理 <span class="c-gray en">&gt;</span> 批阅汇报 <a
			class="btn btn-success radius r"
			style="line-height: 70px;margin-top: 3px"
			href="javascript:location.replace(location.href);" title="刷新"><i
			class="Hui-iconfont">&#xe68f;</i></a>
	</nav>

	<div class="page-container">
		<form action="" name="form" method="post" class="form form-horizontal" id="form-article-add">
		
			<!-- 把教师id传递到后台 -->
			<input type="hidden" name="thisStudentId" id="thisStudentId" th:value="${thisStudentId}"/>
			
			<!-- 服务器日期时间 -->
			<div class="">
				<p style="height: 50px; text-align: center; font-size: 35px; font-family: 华文彩云;"id="writeTime"></p>
				<input type="hidden" name="write_time" id="write_time" />
			</div>
			<!-- 周次星期 -->
			<div class="">
				<p style="height: 30px; text-align: center; font-size: 20px; font-family: 华文行楷;" th:text="${weakAndWeakday}"></p>
			</div>
			
			<!-- 选择学生 -->
			<div class="row cl">
				<label class="form-label col-xs-4 col-sm-2"><span
					class="c-red">*</span>选择学生：</label>
				<div class="formControls col-xs-8 col-sm-9">
					<span class="select-box"> 
					<select class="select" name="studentid" id="studentid" style="text-align:center" onchange="getWeak()">
						<option value="0">请选择学生</option>
						<option th:each="st : ${studentList}"  th:value="${st.stu_id}" th:selected="${st.stu_id == thisStudentId}"><p th:text="${st.stu_id}"></p>-----<p th:text="${st.name}"></p></option>
					</select>
					</span>
				</div>
			</div>
			<!-- 选择周次 -->
			<div class="row cl">
				<label class="form-label col-xs-4 col-sm-2"><span
					class="c-red">*</span>选择周次：</label>
				<div class="formControls col-xs-8 col-sm-9">
					<span class="select-box">
				 	<select name="nowWeak" class="select" id="nowWeak" style="text-align:center" onchange="getReport()">
						<option value="0">请选择汇报周次</option> 
					</select>
					</span>
				</div>
			</div>
			
			<!-- 下载文档 -->
			<div class="row cl">
				<label class="form-label col-xs-4 col-sm-2"><span
					class="c-red">*</span>下载文档：</label>
				<div class="formControls col-xs-8 col-sm-9">
					<a href="javascript:download();" id="download" class="btn btn-primary radius upload-btn"><i class="Hui-iconfont">&#xe642;</i> 下载文档</a>
				</div>
			</div>
			
			<div class="row cl">
				<label class="form-label col-xs-4 col-sm-2">报告主题：</label>
				<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text" id="title" name="title" readonly    />
				</div>
			</div>

			<div class="row cl">
				<label class="form-label col-xs-4 col-sm-2">报告内容：</label>
				<div class="formControls col-xs-8 col-sm-9">
					<textarea name="content" id="myEditor" ></textarea>
					
				</div>
			</div>
			<div class="row cl">
				<label class="form-label col-xs-4 col-sm-2">批阅分数：</label>
				<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text" id="grade" name="grade" maxlength='3' onkeyup="this.value=this.value.replace(/\D/g,'')"   />
				</div>
			</div>
			<br/>
			<div class="row cl">
				<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-2">
					<button onClick="toCorrect()"
						class="btn btn-primary radius" type="button">
						<i class="Hui-iconfont">&#xe632;</i> 提交批阅
					</button>
					<button onClick="javascript:location.href='/report_correct'" class="btn btn-default radius"
						type="reset" >&nbsp;&nbsp;清空&nbsp;&nbsp;</button>
				</div>
			</div>
		</form>
	</div>
</body>
</html>