<!DOCTYPE HTML>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">

<link rel="stylesheet" type="text/css" href="static/h-ui.admin/css/H-ui.admin.css"/>
<link rel="stylesheet" type="text/css" href="lib/Hui-iconfont/1.0.8/iconfont.css"/>
<link rel="stylesheet" type="text/css" href="lib/webuploader/0.1.5/webuploader.css"/>
<link rel="stylesheet" type="text/css" href="static/h-ui/css/H-ui.min.css"/>
<link rel="stylesheet" type="text/css" href="static/h-ui.admin/css/style.css"/>

<script type="text/javascript" src="lib/ueditor/1.4.3/ueditor.config.js"></script>
<script type="text/javascript" src="lib/ueditor/1.4.3/ueditor.all.min.js"></script>
<script type="text/javascript" src="lib/ueditor/1.4.3/lang/zh-cn/zh-cn.js"></script>
<script type="text/javascript" src="js/js.js"></script>


<link rel="Shortcut Icon" href="/favicon.ico" />
<link rel="stylesheet" type="text/css" href="static/h-ui/css/H-ui.min.css" />
<link rel="stylesheet" type="text/css" href="static/h-ui.admin/css/H-ui.admin.css" />
<link rel="stylesheet" type="text/css" href="lib/Hui-iconfont/1.0.8/iconfont.css" />
<link rel="stylesheet" type="text/css" href="static/h-ui.admin/skin/default/skin.css" id="skin" />
<link rel="stylesheet" type="text/css" href="css/form.css" />
<script type="text/javascript" src="lib/jquery/1.9.1/jquery.min.js"></script> 
<script type="text/javascript" src="lib/layer/2.4/layer.js"></script>
<script type="text/javascript" src="static/h-ui/js/H-ui.min.js"></script> 
<script type="text/javascript" src="static/h-ui.admin/js/H-ui.admin.js"></script> <!--/_footer 作为公共模版分离出去-->

<script type="text/javascript" src="lib/My97DatePicker/4.8/WdatePicker.js"></script>
<script type="text/javascript" src="lib/jquery.validation/1.14.0/jquery.validate.js"></script> 
<script type="text/javascript" src="lib/jquery.validation/1.14.0/validate-methods.js"></script> 
<script type="text/javascript" src="lib/jquery.validation/1.14.0/messages_zh.js"></script>
<script>
function sub(){
	var te = $('#uploadFile').val();
	var p;
	if(te == "" || te == null){
		p = confirm('您还未上传文档,是否提交文档?');
	}else{
		p = confirm('您确定要提交本次报告吗?');
	}
	if(p==true){
		if(document.getElementById("write_time").value=document.getElementById("writeTime").innerHTML){
			return true;
		}else{
			return false;
		}
	}
	return false;
}
</script>

</head>
<body onload="getSeverTime();">
	<nav class="breadcrumb">
		<i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span>
		每周汇报 <span class="c-gray en">&gt;</span> 本周汇报 <a
			class="btn btn-success radius r"
			style="line-height: 1.6em; margin-top: 3px"
			href="javascript:location.replace(location.href);" title="刷新"><i
			class="Hui-iconfont">&#xe68f;</i></a>
	</nav>

	<div class="page-container">
		<form action="/report_add_do" enctype="multipart/form-data"  method="post"  th:object="${Report}" class="form form-horizontal" id="form-article-add">
			<!-- 日期时间 -->
			<div class="">
				<p
					style="height: 50px; text-align: center; font-size: 35px; font-family: 华文彩云; background-color: #eeefff"
					id="writeTime"></p>
				<input type="hidden" name="write_time" id="write_time" />
			</div>
			<!-- 周次星期 -->
			<div class="">
				<p style="height: 30px; text-align: center; font-size: 20px; font-family: 华文行楷; background-color: #eeefff" th:text="${session.weakAndWeakday}"></p>
			</div>
			<div class="row cl">
				<label class="form-label col-xs-4 col-sm-2">报告主题：</label>
				<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text"  name="title"  >
			</div>
			</div>
			<div class="row cl">
				<label class="form-label col-xs-4 col-sm-2">上传文档：</label>
				<div class="formControls col-xs-8 col-sm-9"> 
					<span class="btn-upload form-group">
					<input class="input-text upload-url" type="text" name="uploadFile" id="uploadFile"  style="width:200px">
					<a href="javascript:void();" class="btn btn-primary radius upload-btn"><i class="Hui-iconfont">&#xe642;</i> 浏览文件</a>
					<input type="file" name="file" id="file" class="input-file" accept="application/msword">
					</span> 
				</div>
			</div>
			<div class="row cl">
				<label class="form-label col-xs-4 col-sm-2">报告内容：</label>
				<div class="formControls col-xs-8 col-sm-9">
					<textarea name="content" id="myEditor" ></textarea>
					<script type="text/javascript">
						var editor = new UE.ui.Editor({
							initialFrameHeight : 300,
							scaleEnabled:false,
							readonly : false
						});
						editor.render("myEditor");
					</script>
				</div>
			</div>
			
			<div class="row cl">
				<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-2">
					<input class="btn btn-primary radius" type="submit"  value="提交"  onClick="return sub()"/>
					<input  class="btn btn-default radius" type="reset" value="清空" onClick="javascript:window.location.href='/report_add'" >
				</div>
			</div>
		</form>
	</div>
</body>
</html>